# Python Assignment 4

#### 1. What exactly is []?

`[ ]` is an index brackets and has may usages.

1. Creating a list literal
`my_list = [1, 2, 3, 4]`

2. Retrieving elements from a list, strings
```python
my_list = [1, 2, 3, 4]
my_list[0:3] # Output -> [1, 2, 3]

my_string = 'hello, world!'
my_string[0:3] # Output -> 'hel'
```

Below are the examples.

In [28]:
my_list = [1, 2, 3, 4]
my_string = 'hello, world!'

In [29]:
my_list[0:3]

[1, 2, 3]

In [30]:
my_string[0:3]

'hel'

#### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

___Below is the code.___

In [32]:
spam = [2, 4, 6, 8, 10]

In [35]:
# assigning 'hello' as the third value
spam[2] = 'hello'

spam

[2, 4, 'hello', 8, 10]

### Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

In [40]:
spam = ['a', 'b', 'c', 'd']

#### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [41]:
spam[int(int('3' * 2) / 11)]

'd'

In [49]:
# breakdown
string_mul = '3' * 2

string_mul

'33'

In [50]:
# converting to int
string_to_int = int(string_mul)

string_to_int

33

In [52]:
# dividing by 11
div_result = string_to_int / 11

div_result

3.0

In [54]:
# float to int
float_to_int = int(div_result) # this is done to pass this as an index to spal list

float_to_int

3

In [55]:
spam[float_to_int]

'd'

#### 4. What is the value of spam[-1]?

Traversing list in reverse order

In [57]:
# result
spam[-1]

'd'

#### 5. What is the value of spam[:2]?

It'll return elements from 0 till 1. 2 is exclusive.

In [58]:
# result

spam[:2]

['a', 'b']

### Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [67]:
bacon = [3.14, 'cat', 11, 'cat', True]

#### 6. What is the value of bacon.index(&#39;cat&#39;)?

Even if we have two 'Cat' element, index will return the index for the first one in the list.

In [68]:
# result

bacon.index('cat')

1

#### 7. How does bacon.append(99) change the look of the list value in bacon?

This appends 99 at the end of the list.

In [69]:
# result

bacon.append(99)

bacon

[3.14, 'cat', 11, 'cat', True, 99]

#### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

This will remove the first 'cat' element in the list.

In [70]:
# result

bacon.remove('cat')

bacon

[3.14, 11, 'cat', True, 99]

#### 9. What are the list concatenation and list replication operators?

- `+` is used for list concatenation.
- `*` similar to string is used for list replication.

___Below is an example___

In [72]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [73]:
# concatenation

concat_list = list1 + list2

concat_list

[1, 2, 3, 4, 5, 6]

In [83]:
# replication

rep_list = list1 * 2

rep_list

[1, 2, 3, 1, 2, 3]

#### 10. What is difference between the list methods append() and insert()?

- `append()` method is used to add an element at the end of a list. The element that's passed will be added at the end of the list.
- `insert()` method is used to add an element to a specific index within a list. Accepts two arguments, index and the elements to be added.

___Below are the examples.___

In [1]:
# append()

my_list = [1, 2, 3]

my_list.append(4)
my_list

[1, 2, 3, 4]

In [2]:
# insert()

my_list = [1, 2, 3]

my_list.insert(2, 4)
my_list

[1, 2, 4, 3]

#### 11. What are the two methods for removing items from a list?

- `remove()` method is used to remove the first occurence of an element from a list. It takes the value of the item to be removed as an argument.
- `pop()` method is used to remove an element at a specific index, if not specified removes the last element of the list. It takes index as an argument.

___Below are somfew examples.___

In [10]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [11]:
# using remove

my_list.remove(3)
my_list

[1, 2, 4]

In [14]:
# using pop

my_list = [1, 2, 3, 4]

popped_element = my_list.pop(2)

print(f'popped element -> {popped_element}\n and the list -> {my_list}')

popped element -> 3
 and the list -> [1, 2, 4]

#### 12. Describe how list values and string values are identical.

- Both `list` and `string` are sequences of elements.
- Elements can be accessed using index in both. Starts from `0th` index.
- Slicing can be used in both to extract portion of sequence.
- Both can be iterated in loop.
- Length can be determined by using built-in function `len()` in both.
- Both can be concatenated using `+` operator.

___Below are few examples.___

In [18]:
# list
my_list1 = [1, 2, 3]

len(my_list)

5

In [17]:
# string
my_string = 'hello, world!'

len(my_string)

13

#### 13. What's the difference between tuples and lists?

- `Lists` are defined using square brackets `[ ]`, and `Tuples` are defined using parantheses `( )`.
- `Lists` are mutable while `Tuples` are not, meaning, elements in the `list` can be modified but this is not allowed in `tuple`.
- `List` is used when there is a need to modify the elements in future, while, `Tuple` is used when this need is not required.
- `Tuple` is lightweight and faster because elements cannot be modified and does not require additional memory allocation.

___Below are few examples.___

In [21]:
# list

my_list = [1, 2, 3]
print(f'Before: {my_list}')

my_list[2] = 4
print(f'After: {my_list}')

Before: [1, 2, 3]
After: [1, 2, 4]

In [22]:
# tuple

my_tuple = (1, 2, 3)
print(f'Before: {my_tuple}')

my_tuple[2] = 4
print(f'After: {my_tuple}')

Before: (1, 2, 3)

TypeError: 'tuple' object does not support item assignment

#### 14. How do you type a tuple value that only contains the integer 42?

While defining a tuple that contains only one value, we put a trailing `,` comma right after the value within the parantheses.

___Below is the example for this case.___

In [32]:
one_val_tuple = (42,)
print(f'Tuple with only one value: {one_val_tuple}')

print(f'{type(one_val_tuple)}')

Tuple with only one value: (42,)
<class 'tuple'>

#### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

This can be achieved by using wrapping the list or tuple with the `list()` or `tuple()` function as shown below.

In [33]:
# list value's tuple form

my_list = [1, 2, 3]

my_tuple = tuple(my_list)

my_tuple

(1, 2, 3)

In [34]:
# tuple value's list form

my_tuple = (1, 2, 3)

my_list = list(my_tuple)

my_list

[1, 2, 3]

#### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Variables actually holds / contains refrences to the list values rather than the list values.
However, for variables consisting values, like a string or integer or float, they will contain the values only.

___Examples are shown below.___

In [86]:
# list

my_list = [1, 2, 3]

new_list = my_list

In [88]:
new_list[2] = 4

print(f'my_list = {my_list} # id -> {id(my_list)}')
print(f'new_list = {new_list} # id -> {id(new_list)}')

my_list = [1, 2, 4] # id -> 140396306320192
new_list = [1, 2, 4] # id -> 140396306320192

##### In above example, when we entered new_list = my_list, the reference of the list [1, 2, 3] was assigned to new_list

In [89]:
# to only copy list value, we use copy()

my_list = [1, 2, 3]

new_list = my_list.copy()

In [90]:
new_list[2] = 4

print(f'my_list = {my_list} # id -> {id(my_list)}')
print(f'new_list = {new_list} # id -> {id(new_list)}')

my_list = [1, 2, 3] # id -> 140396306706880
new_list = [1, 2, 4] # id -> 140396949427648

In [82]:
x = 5
y = x

In [83]:
x = 10

In [84]:
print(y) # did not change the value in y

5

#### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

- `copy.copy()` or shallow copy creates a new object which stores the reference of the original elements. If we append new elements to the original list then it won't reflect in the shallow copy, however, if we change anything within the original reference, this will reflect in the shallow copy.
- `deep.copy()` creates a new object completely independent from the old one. Hence, no matter what we do in the old list the value in new one won't change.

___Below are some examples___

In [118]:
import copy

In [121]:
# copy.copy()

my_list1 = [[1, 2, 3]]

copy_list = copy.copy(my_list1)

# adding new element
my_list1.append([4])

print(f'old list = {my_list1}\ncopy_list = {copy_list}')

old list = [[1, 2, 3], [4]]
copy_list = [[1, 2, 3]]

In [115]:
my_list1 = [[1, 2, 3]]
copy_list = copy.copy(my_list1)

# modifying elements
my_list1[0][1] = 'a'

print(f'old list = {my_list1}\ncopy_list = {copy_list}')

old list = [[1, 'a', 3]]
copy_list = [[1, 'a', 3]]

In [125]:
# copy.deepcopy()

my_list2 = [[1, 2, 3]]
deep_copy_list = copy.deepcopy(my_list2)

# modifying elements
my_list2[0][1] = 'a'

print(f'old list = {my_list2}\ncopy_list = {copy_list}')

old list = [[1, 'a', 3]]
copy_list = [[1, 2, 3]]